#firstBox {
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 50px;
}

.gridExercise {
    background-color: teal;
    height: 50px;
    width: 300px;
    align-items: center;
}

.containerGrids {
    outline: tomato;
    align-items: center;
    height: auto;

}

.title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.subheader {
    font-family: 'Poppins', sans-serif;
    color: rgba(241,90,41,1.0);
    text-align: center;
    align-items: center;
}

.subheader2 {
    width: auto;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    
}

.container {
    height: auto;
    margin: 100px auto;
}

.body {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.grayheader {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: gray;
}

.box{
    width: 200px;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
}

.orangeHeader {
    width: auto;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgba(241,90,41,1.0);
}

.header{
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

